{% extends 'app.html' %}

{% block content %}

<div class="text-center login-section">
    <main class="form-signin">
        <form action="{% url 'login' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}" method="post">
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            {% include 'inc/messages.html' with messages=messages %}
            {% include 'inc/form_errors.html' with errors=form.non_field_errors %}
            {% csrf_token %}
            <div class="form-floating my-3">
                {{ form.email.errors }}
                {{ form.email }}
                <label for="{{form.email.id_for_label}}">Email:</label>
            </div>
            <div class="form-floating my-3">
                {{ form.password.errors }}
                {{ form.password }}
                <label for="{{form.password1.id_for_label}}">Password:</label>
            </div>
    
            <button class="w-100 btn btn-lg btn-primary" type="submit">Daxil ol</button>
        </form>
        <hr>
        <p class="text-center">Forgot your password? <a href="{% url 'password_reset' %}">Click here to reset your password!</a></p>
    </main>
</div>
{% endblock %}