{% extends 'app.html' %}

{% block content %}

<div class="text-center login-section">
    <main class="form-signin">
        <form action="{% url 'register' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}" method="post">
            <h1 class="h3 mb-3 fw-normal">Registration</h1>
            {% include 'inc/messages.html' with messages=messages %}
            {% include 'inc/form_errors.html' with errors=form.non_field_errors %}
            {% csrf_token %}
            <div class="form-floating my-3">
                {{ form.username.errors }}
                {{ form.username }}
                <label for="{{form.username.id_for_label}}">Username:</label>
              </div>
            <div class="form-floating my-3">
                {{ form.email.errors }}
                {{ form.email }}
                <label for="{{form.email.id_for_label}}">Email:</label>
            </div>
            <div class="form-floating my-3">
                {{ form.password1.errors }}
                {{ form.password1 }}
                <label for="{{form.password1.id_for_label}}">Password:</label>
            </div>
            <div class="form-floating my-3">
                {{ form.password2.errors }}
                {{ form.password2 }}
                <label for="{{form.password2.id_for_label}}">Password Confirm:</label>
            </div>
    
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        </form>
    </main>
</div>
{% endblock %}